{% extends 'partials/layout.html' %}
		
{% block header %}
{% include "partials/header.html" %}
{% endblock header %}



{% block item_section %}
{% include "partials/item-section.html" %}
{% endblock item_section %}

{% block new_products %}
{% include "partials/new-product.html" %}
{% endblock new_products %}

{% block hot_deals %}
{% include "partials/hot-deals.html" %}
{% endblock hot_deals %}

{% block top_selling %}
{% include "partials/top-selling.html" %}
{% endblock top_selling %}

{% block newsletter %}
{% include "partials/newsletter.html" %}
{% endblock newsletter %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block scripts %}
{% include "partials/scripts.html" %}
{% endblock scripts %}

