
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
</head>
<body>

    <div>
        <button class="btn btn-success" data-  toggle="model" data-target="#model1"> click for </button>
        <div class="model fade" id="model1">
            <div class="model-dialog">
                <div class="model-content">
                    <div class="model-header">
                        <h4>hello this is head</h4>
                    </div>
                    <div class="model-body">
                        <h4> hellow this is body</h4>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>  

<form>
    <div class="form-control">
        <label>
       radio 
        </label>
        <div class="col-md-3 radio">
           <label><input type='radio' group-name="h" value='male'>male</label>  
           <label><input type='radio'group-name="h" value='male'>female</label>  
        </div>
        

    </div>


    <div class="form-group">
        <label class="form-control"> select</label>
        <div class="select">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            
        </div>
    </div>
</form>

    <ul class="nav nav-tabs">
        <li ><a href="#p1"  data-toggle="tab">home</a></li>
        <li><a href="#p2" data-toggle="tab">logou</a></li>

    </ul>
 <div class="tab-content">
<div class="tab-pane" id="p1"> thi is home </div>
<div class="tab-pane" id="p2"> thi is logout </div>

 </div>

<nav class="navbar navbar-reverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">bootstrap</a>

        </div>
        <div >
            <ul class="nav navbar-nav">
                <li><a href="#">bobo </a></li>
                <li><a href="#">bobo </a></li>
                <li><a href="#">bobo </a></li>
            </ul>
        </div>


    </div>

</nav>

    <div class="jumbotron"><h1>hello this is many</h1></div> 
    <h6>hell this is me </h6>hell this is me
     <div class="container-fluid">
         <h6>hell this is me <small> me </small> </h6>
  
  
  
        </div>   
      
        <ul class="nav nav-pills">
            <li  class="active"><a href="#t1"  data-toggle="pill">home</a></li>
            <li><a href="#t2" data-toggle="pill">logou</a></li>
    
        </ul>
     <div class="tab-content">
    <div class="tab-pane active" id="t1"> thi is home </div>
    <div class="tab-pane" id="t2"> thi is logout </div>
    
     </div>
    
    
    
        <div class="jumbotron"><h1>hello this is many</h1></div> 
        <h6>hell this is me </h6>hell this is me
         <div class="container-fluid">
             <h6>hell this is me <small> me </small> </h6>
      
      
      
            </div>   
          
<button class="btn btn-danger btn-block"></button>
<img src="Checkout.png" class="img-thumbnail"  height="100px"width="100px">

<div class="btn-group">
<button >
<button>th i</button>
<button > hah </button>
</button>
</div>
<div class=" btn-group btn-group-justified">
<div class="btn-group"><button >  j</button></div>
<div class="btn-group"><button > no this  </button></div>
<div class="btn-group"><button >  </button></div>   
  
</div>
<div class="dropdown">
    <button class="btn btn-danger dropdown" data-toggle="dropdown">
      article
    </button>
    <ul class="dropdown-menu">
        <li> haha</li>

        <li class="dropdown-header">no </li>
    </ul>
</div>

<div class="alert alert-danger">
<a href="#"  class="close" data-dismiss="alert" aria-label="close"> haha</a>
</div>
<div class="dropdown">
<button class="dropdown " data-toggle="dropdown">haha<span class="caret"></span></button>
<ul class="dropdown-menu">
    <li>
        haha
    </li>
    <li>no no </li>

</ul>
</div>

<div >
<ul class="nav nav-tabs">
    <li class="active" >hah</li>
    <li>no no</li>
</ul>
<ul class="list-inline">
    <li>nono</li>
    <li>jk </li>
</ul>
</div>
</body>
</html>